#content .form-area p.homepage {
  margin: 20px 0;
}

#content .form-area p.homepage  {
  margin: 20px 0;
}

#content .form-area label.optional {
  color: #929488;
}

#content table#groups td.group {
  padding: 10px;
  width: 35%;
}

#content table#groups td.group a {
  font-family: 'Lucida Grande';
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

#content table#groups td.group p {
  margin: 0;
  color: #929488;
}

#content table#import th {
  text-align: left;
}
#content table#import td {
  padding: 2px;
}

#content form#confirmation_form input.preview {
  border: 1px solid #929488;
  font-family: 'Lucida Grande';
  font-size: 16px;
  padding: 3px;
}

#content form#confirmation_form input.with_error {
  border: 1px solid #c00;
  color: #c00;
}

#content form#confirmation_form tr.invite td input {
  background-color: #e2e1dc;
}

#content form#confirmation_form p.buttons {
  margin-top: 10px;
}

#content .form-area label.disabled {
  color: #929488;
}

#content .form-area span.formnote {
  font-size: 80%;
  color: #929488;
}

#content #group_pages {
  width: 35%;
  float: left;
}

#content #group_people {
  width: 25%;
  margin: 0 2%;
  float: left;
}

#content #group_messages {
  width: 25%;
  margin: 0 2%;
  float: left;
}

#content #group_messages ul {
  list-style: square;
  font-size: 85%;
  padding-left: 14px;
}

#content div.stretcher {
  clear: left;
}

#content table#group_pages td.page a {
  color: black;
  text-decoration: none;
}

#content table#group_pages td.page a:hover {
  color: blue;
  text-decoration: underline;
}

#content blockquote.messagepreview {
	border: 3px solid #999;
	background-color: #eee;
	margin: 0;
	padding: 20px;
	font-family: courier, monospace;
	font-size: 13px;
	line-height: 16px;
}

#content .form-area p.description {
  margin-top: 10px;
}

#content #footnotes {
  clear: both;
  margin-top: 50px;
}

#group_pages ul {
  padding-left: 20px;
}

#group_people ul {
  padding-left: 0;
}


#group_people ul li, #group_pages ul li {
  font-size: 16px;
  list-style: none;
  line-height: 24px;
  margin-top: 2px;
  font-family: 'Lucida Grande';
}

/*#group_people ul li a, #group_pages ul li a {
  text-decoration: none;
  font-weight: normal;
}
*/
/*
#group_pages ul li.inherited a {
  color: #ccc;
  font-weight: normal;
}

#group_people ul li.attached a, #group_pages ul li.attached a {
  color: #060;
  font-weight: bold;
}
*/



.fake_checkbox {
  padding-left: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 0 3px;
}
.fake_checkbox input {
  position: absolute;
  left: -9999px;
}
.fake_checkbox a {
  text-decoration: none;
}

.checked { background-image: url(/images/admin/chk_on.png); }
.unchecked { background-image: url(/images/admin/chk_off.png); }
.selected { background-image: url(/images/admin/rdo_on.png); }
.unselected { background-image: url(/images/admin/rdo_off.png); }
.waiting { background-image: url(/images/admin/spinner.gif); }
.failed { background-image: url(/images/admin/error.png); }
.inherited { background-image: url(/images/admin/chk_auto.png); }

.checked a, .selected a { color: #5da454; }
.unchecked a, .unselected a { color: #ccc; font-weight: normal;}
.waiting a { color: #8c8d8e; }
.failed a { color: #c00; }
.inherited { color: #bfe4b9; }

span.group_actions img {
  opacity: 0.5;
}

span.group_actions a img {
  opacity: 1;
}




