.message
  %iframe.message_body{:src => preview_group_message_url(@group, @message)}

- content_for :pagetitle do
  = @message.subject
  
- content_for :marginalia do
  margin?
  
- content_for :breadhead do
  = link_to @group.name, @group.homepage.url