- if admin?

  - groups = Group.find(:all)
  - if @group && @message.new_record?
    - @message.group = @group

  - fields_for @message do |f|

    %p.group
      = f.label :group_id, "Group:"
      = f.select :group_id, groups.map { |g| [g.name, g.id] }, {:include_blank => true}
