- if @message.function
  %p.warning
    This is the 
    - unless @message.group
      standard
    %strong
      = @message.function 
    message 
    - if @message.group
      for the 
      = link_to @message.group.name, admin_group_url(@message.group)
      group
    and would normally be sent out automatically. You can also send it manually.
