- if homepage = current_reader.find_homepage
  %p
    Would you like to go straight to the 
    = link_to homepage.title, homepage.url
    page?

- elsif session[:return_to]
  %p 
    Would you like to 
    = link_to ("return to the page you were looking at before you started registering", session[:return_to]) + '?'
