Dear <%= @user.name %>,

<%= @message %>


___________________________________

You are receiving this message because you're a member of the <%= @group.title %> group on the Lord Mayor's Show website. 
If there has been a mistake, please let Will know immediately on will@lordmayorshow.org. Thanks.