Dear <%= @reader.name %>,

<%= @message %>


___________________________________

You are receiving this message because you're a member of the <%= @group.name %> group on the <%= @site_title %> site.