- include_stylesheet('admin/group')

%h1 
  Message to
  = link_to @group.name, admin_group_url(@group)
  
%p.actions
  edit |
  remove |
  deliver

%div.message_header
  %ul
    - @group_message.sample.each_header do |name, value|
      %li
        = name + ':'
        %strong
          = value

%iframe.message_preview{:src => preview_admin_group_group_message_url(@group, @group_message), :width => '100%', :height => '500px'}
