- Group.all.each do |group|
  - [:invitation, :welcome].each do |func|
    - message = Message.functional(:invitation, group)
    %p.ruled
      %label
        = group.name
        = func
      - if message
        = link_to message.subject, edit_admin_message_url(message)
      - else
        = link_to image('plus') + " create message", new_admin_group_message_url(group, :function => func), :class => 'create'
